@{
    ViewData["Title"] = "Equipments";
}
@section Scripts
{
    <script src="@Url.Content("~/js/cart.js")"></script>
}
<div class="container">
    <div class="row">
        @foreach (Equipment item in Model)
        {
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        @using (Html.BeginForm("AddToCart", "Cart", new { @id = item.id }))
                        {
                            <h4 class="card-title">
                                @item.name
                            </h4>
                            <p class="card-text">
                                Type: @item.type
                            </p>
                            <label for="num-of-days">No. of Days:</label>
                            <input type="number" id="days" name="days" class="no-of-days" value="0" min="0" max="100">
                            <br />
                            <br />
                            <div class="pull-right">
                                @Html.HiddenFor(x => item.id)
                                @Html.Hidden("returnUrl", @Context.Request.Path)
                                <input type="submit" class="btn btn-success float-right" id="add-to-cart" value="Add to cart" />
                            </div>
                        }
                    </div>
                </div>
                <br />
            </div>
        }
    </div>
    <br />
    <a asp-controller="Cart" asp-action="Index" class="btn btn-success float-right">
        Go to Cart
    </a>
</div>
